.container-cards {
  display: flex;
  gap: 40px;
  margin: 30px;
}

.cards {
  display: flex;
  align-items: start;
  gap: 10px;
}

.cards h1 {
  font-size: 1.4rem;
}

.cards p {
  font-size: 0.775rem;
  margin-top: 0.275rem;
}

@media (min-width: 768px) and (max-width: 979px) {
  .container-cards {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container-cards {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .container-cards {
    flex-direction: column;
  }
}
